{{ $paramCount := len .Params }}
{{ if gt $paramCount 0 }}
<div class="pure-g">
{{ range $param := .Params }}
  {{ $items := split $param "|" }}
  {{ $itemCount := len $items }}
  <!-- Item count must be at least 2 as
  "class" and "src" must be specified -->
  {{ if ge $itemCount 2 }}
  <div class="{{ index $items 0 }}">
    <div style="padding: 0 .2em">
      <!-- Get Page Resources from shortcode Params 1 -->
    {{ $imgsrc := $.Page.Resources.GetMatch (index $items 1) }}
    <!-- Detect resource MIME main type -->
    {{ if eq $imgsrc.MediaType.MainType "image" }}
      {{printf "<a target=\"_blank\" href=\"" | safeHTML }}{{ $imgsrc.Permalink }}{{printf "\"> " | safeHTML }}
        {{printf "<img " | safeHTML }}
    {{ else if eq $imgsrc.MediaType.MainType "video" }}
      {{printf "<video controls " | safeHTML }}
    {{ end }}
          class="pure-img-responsive"
          <!-- Get resource link to src -->
          src="{{ $imgsrc.Permalink }}"
          <!-- Get resource params "alt" or get shortcode params to alt -->
          alt="{{ if ge $itemCount 3 }}{{ index $items 2 }}{{ else }}{{ $imgsrc.Params.alt }}{{ end }}"
          >
        </a>
    </div>
  </div>
  {{ end }}
{{ end }}
</div>
{{ end }}